/* ----- Document Styling  ----- */

html {
	height: 100vh;
	margin: 0 auto;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	min-height: 100%;
}

footer {
	width: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0
	background-color: #efefef;
	text-align: center;
	background-color: #1e1e1e;
	color: #faf4f4;
}

footer p {
	padding: 20px 0 20px 0;
}

p {
	margin: 0;
}

/* -----  Navigation Styling  ----- */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

li a {
	padding: 20px 20px 20px 20px;
	text-decoration: none;
	color: #faf4f4;
}

li a:hover {
	background-color: #494848;
}

.Nav {
	padding: 20px 20px 20px 20px;
	background-color: #1e1e1e;
	text-align: right;
}

/* ----- Slider Styling  ----- */

.Flex_Container a:active,
.Flex_Slider a:active,
.Flex_Container a:focus,
.Flex_Slider a:focus {
	outline: none;
}

.Slides,
.flex-control-nav,
.flex-direction-nav, {
	margin: 0;
	padding: 0;
	list-style: none;
}

.Flex_Slider a img {
	outline: none;
}

.Flex_Slider {
	margin: 0;
	padding: 0;
}

.Flex_Slider .Slides {
	display: none;
	-webkit-backface-visibility: hidden;
}

.Flex_Slider .Slides img {
	width: 100%;
	display: block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.Slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .Slides {
	display: block;
}

*html .Slides {
	height: 1%;
}

.Flex_Container {
	max-width: 100vw;
}

.Flex_Slider .Slides {
	zoom: 1;
}

.flex-directions-nav a {
	display: block;
	position: absolute;
	margin: -17px 0 0 0;
	width: 35px;
	height: 35px;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;

	background-color: #82d344;
}

.flex-direction-nav a:before {
	display: block;
	position: absolute;
	content: '';
	width: 9px;
	height: 13px;
	top: 11px;
	left: 11px; 
	background: url(.../img/arrows.png) no-repeat;
}

.flex-direction-nav a:after {
	display: block;
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	top: 35px;
}

.flex-direction-nav .flex-next {
	right: -5px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.flex-dirction-nav .flex-prev {
	left: -5px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.flex-direction-nav .flex-next:before { background-position: -9px 0; left: 15px; }
.flex-direction-nav .flex-prev:before { background-position: 0 0; }
 
.flex-direction-nav .flex-next:after {
    right: 0;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #31611e;
}
 
.flex-direction-nav .flex-prev:after {
    left: 0;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #31611e;
}
/* -----  Old Code  ----- 

#Full_Gallery {
	padding: 10px 0 10px 10px;
	background-color: #4b4c4d;
	overflow: hidden;
}
@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

body { margin: 0; } 
div #Slider { overflow: hidden; }
div #Slider figure img { width: 20%; float: left; }
div #Slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}


*/
