html {
	width: 90%;
	margin: 0 auto;
}

#Nav {
	border: 1px solid black;
}

#Home {
	border: 1px solid black;
	margin-top: 5px;
}

#Home_Image {
	width: 100%;
}

#Gallery {
	border: 1px solid black;
	margin-top: 5px;
}

#Contact {
	border: 1px solid black;
	margin-top: 5px;
}