/* ----- Document Styling  ----- */

html {
	width: 95%;
	margin: 0 auto;
}

footer {
	height: 50px;
	border: 1px solid black;
	margin-top: 5px;
	padding-top: 5px;
	background-color: #1e1e1e;
	color: #faf4f4;
}

h1 {
	margin: 0;
	padding: 10px 0 10px 10px;
}

p {
	margin: 0;
}

#Section_Title {
	background-color: #1e1e1e;
	color: #faf4f4;
}

/* -----  Navigation Styling  ----- */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

li a {
	padding: 20px 20px 20px 20px;
	text-decoration: none;
	color: #faf4f4;
}

li a:hover {
	background-color: #494848;
}

.Nav {
	border: 1px solid black;
	padding: 20px 20px 20px 20px;
	background-color: #1e1e1e;
	text-align: right;
}

/* ----- Gallery Section Styling  ----- */

#Gallery {
	border: 1px solid black;
	margin-top: 5px;
	height: 100vh;
}

#Full_Gallery {
	padding: 10px 0 10px 10px;
	background-color: #1e1e1e;
	overflow: hidden;
}

#Gallery_Button {
	float: right;
	padding: 10px;
	margin-right: 7px;
}

@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

body { margin: 0; } 
div #Slider { overflow: hidden; }
div #Slider figure img { width: 20%; float: left; }
div #Slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

/* ----- Contact Section Styling  ----- */

#Contact {
	border: 1px solid black;
	margin-top: 5px;
	height: 100vh;
}

