/* ----- Document Styling  ----- */

html {
	height: 100vh;
	margin: 0 auto;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	min-height: 100%;
}

footer {
	width: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0
	background-color: #efefef;
	text-align: center;
	background-color: #1e1e1e;
	color: #faf4f4;
}

footer p {
	padding: 20px 0 20px 0;
}

h1 {
	margin: 0;
	padding: 10px 0 10px 10px;
}

p {
	margin: 0;
}

/* -----  Navigation Styling  ----- */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

li a {
	padding: 20px 20px 20px 20px;
	text-decoration: none;
	color: #faf4f4;
}

li a:hover {
	background-color: #494848;
}

.Nav {
	padding: 20px 20px 20px 20px;
	background-color: #1e1e1e;
	text-align: right;
}

/* ----- Gallery Section Styling  ----- */

@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

body { margin: 0; } 
div #Slider { overflow: hidden; }
div #Slider figure img { width: 20%; float: left; }
div #Slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

/* -----  Old Code  ----- 

#Full_Gallery {
	padding: 10px 0 10px 10px;
	background-color: #4b4c4d;
	overflow: hidden;
}
@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

body { margin: 0; } 
div #Slider { overflow: hidden; }
div #Slider figure img { width: 20%; float: left; }
div #Slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}


*/
