/* 
	Styles for the entire website, listed out by page and type.
*/

/* ----- Formatting for the page header, body and footer boxes ----- */

html {
	width: 90%
	margin: 0 auto;
}

.main-navigation {
	height: 75px;
	background-color: #1e1e1e;
	color: #faf4f4;
	padding-top: 5px;
}

/* ----- Formatting for Main Landing Page ----- */

.main-body-image {
	width: 100%;
	height: auto;
}