/* 
	Styles for the entire website, listed out by page and type.
*/

/* ----- Formatting for the page header, body and footer boxes ----- */

.main-navigation {
	float: left;
	width: 15%;
	height: 100%;
	background-color: #1e1e1e;
	color: #faf4f4;
}

.main-image {
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	margin-left: 15%;
	height: 100%
}

/* ----- Formatting for Main Landing Page ----- */

#nav-options ul li {
	list-style-type: none;
	display: inline;
	padding: 1% 25% 1% 25%;
	font-size: 14px;
}