/* 
	Styles for the entire website, listed out by page and type.
*/

/* ----- Formatting for Main Navigation ----- */

.main-navigation {
	float: left;
	width: 15%;
	height: 100%;
	background-color: #1e1e1e;
	border: 1px solid black;
}

.main-image {
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	margin-left: 15%;
	height: 100%
}

#nav-options ul {
	list-style-position: none;
	padding-left: 0;
}

#nav-options ul li {
	list-style-type: none;
	padding: 0% 0% 5% 10%;
	font-size: 20px;
}

#nav-options ul li a {
	text-decoration: none;
	color: #faf4f4;
	transition: all 0.15s;
}

#nav-options ul li a:hover {
	color: #4b4c4d;
}

#sub-nav-options {
	padding-left: 5%;
	font-size: 14px;
}

/* ----- Formatting for Main Landing Page Image----- */
