/* ----- Document Styling  ----- */

html {
	width: 95%;
	margin: 0 auto;
}

footer {
	height: 50px;
	border: 1px solid black;
	margin-top: 5px;
	padding-top: 5px;
	background-color: #1e1e1e;
	color: #faf4f4;
}

/* -----  Navigation Styling  ----- */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

li a {
	padding: 20px 20px 20px 20px;
	text-decoration: none;
	color: #faf4f4;
}

li a:hover {
	background-color: #494848;
}

/* ----- Home Image Styling ----- */

img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

/* ----- Section Styling  ----- */

.Nav {
	border: 1px solid black;
	padding: 20px 20px 20px 20px;
	background-color: #1e1e1e;
	text-align: right;
}

#Home {
	border: 1px solid black;
	margin-top: 5px;
}

#Gallery {
	border: 1px solid black;
	margin-top: 5px;
}

#Contact {
	border: 1px solid black;
	margin-top: 5px;
}

