/* 
	Styles for the entire website, listed out by page and type.
*/

/* ----- Formatting for the page header, body and footer boxes ----- */

.main-navigation {
	border: 1px solid black;
	float: left;
	width: 10%;
	height: 100%;
}

.main-image {
	border: 1px solid black;
	margin-left: 10%;
}

.footer {
	border: 1px solid black;
}

/* ----- Formatting for Main Landing Page ----- */
