html {
	width: 95%;
	margin: 0 auto;
}

#Nav {
	border: 1px solid black;
	color: #4b4c4d;
}

#Home {
	border: 1px solid black;
	margin-top: 5px;
}

#Gallery {
	border: 1px solid black;
	margin-top: 5px;
}

#Contact {
	border: 1px solid black;
	margin-top: 5px;
}

#Footer {
	border: 1px solid black;
	margin-top: 5px;
	color: #4b4c4d;
}