/* 
	Styles for the entire website, listed out by page and type.
*/

/* ----- Formatting for the page header, body and footer boxes ----- */

.main-navigation {
	border: 1px solid black;
}

.main-image {
	border: 1px solid black;
}

.footer {
	border: 1px solid black;
}

/* ----- Formatting for Main Landing Page ----- */
